# environment variables
.env

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# generated types
.astro/

# build output
dist/

# macOS-specific files
.DS_Store
