{
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-css-order",
    "prettier-plugin-toml"
  ],
  "singleAttributePerLine": true,
  "singleQuote": true
}
