{
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ],
  "plugins": ["prettier-plugin-astro", "prettier-plugin-css-order"],
  "singleAttributePerLine": true,
  "singleQuote": true,
  "useTabs": false
}
