{
  "singleQuote": true,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-css-order"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
