/*
  Mix of Andy Bell's Kevin Powell's reset
  https://piccalil.li/blog/a-more-modern-css-reset/
  https://www.youtube.com/watch?v=cCAtD_BAHNw
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
}

html {
  text-size-adjust: none;
  hanging-punctuation: first last;
  color-scheme: var(--color-scheme, dark light);
}

body {
  min-height: 100svh;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* do not affect level of specificity */
:where(a:not([class])) {
  color: currentColor;
  text-decoration-skip-ink: auto;
}

p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}
