<p>
  <a href="https://docs.astro.build/en/guides/integrations-guide/alpinejs/"
    >Рекомендуемый</a
  > способ подключения плагинов - подцепить их в head
</p>

<code>
  &lt;script defer
  src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
  &gt;&lt;/script&gt;
</code>

<h2>Example</h2>
<div x-data="{ open: false }">
  <button @click="open = ! open">Toggle Content</button>
  <div x-show="open">Content...</div>
</div>

<h2>Example with method</h2>
<div x-data="{ open: false, toggle() { this.open = ! this.open } }">
  <button @click="toggle()">Toggle Content</button>
  <div x-show="open">Content...</div>
</div>

<h2>Example with re-usable Data</h2>
<!-- code for this placed in entrypoint -->
<div x-data="dropdown">
  <button @click="toggle">Toggle Content</button>
  <div x-show="open">Content...</div>
</div>

<h2>Plugin example</h2>
<div x-data="{ date: '' }">
  <input
    x-mask="99/99/9999"
    placeholder="MM/DD/YYYY"
    x-model="date"
  />
</div>

<style>
  h2 {
    font-size: var(--step-4);
  }
</style>
