---
import { Picture } from 'astro:assets';

interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;

import pic from './pic.png';
---

<div class="card">
  <h1>
    {title}
  </h1>
  <p>
    {body}
  </p>
  <div class="pics">
    <Picture
      src={pic}
      alt="A description of my image."
      densities={[1, 2, 3]}
      width={300}
      formats={['avif', 'webp']}
    />
    <Picture
      src={pic}
      alt="A description of my image."
      layout="responsive"
      width={300}
      formats={['avif', 'webp']}
    />
  </div>
</div>

<style>
  h1 {
    font-size: var(--step-5);
  }

  .pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
</style>
