---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;

import pic from './pic.png';
---

<div class="card">
  <h1>
    {title}
  </h1>
  <p>
    {body}
  </p>
  <img
    src={pic.src}
    alt=""
  />
</div>

<style>
  h1 {
    font-size: 20px;

    @media screen and (width >= 375px) {
      font-size: 22px;
    }

    @media screen and (width >= 414px) {
      font-size: 24px;
    }
  }

  .card {
    z-index: 5000;
    color: rgb(var(--accent));
  }

  .card {
    color: green;
  }
</style>
