/* https://utopia.fyi/ */

:root {
  @utopia typeScale({
    minWidth: 320,
    maxWidth: 1440,
    minFontSize: 16,
    maxFontSize: 24,
    minTypeScale: 1.2,
    maxTypeScale: 1.25,
    positiveSteps: 5,
    negativeSteps: 2,
    prefix: "step",
    relativeTo: "viewport-width"
  });

  @utopia spaceScale({
    minWidth: 320,
    maxWidth: 1440,
    minSize: 16,
    maxSize: 24,
    positiveSteps: [1.5, 2, 3, 4, 6],
    negativeSteps: [0.75, 0.5, 0.25],
    customSizes: ["s-l"],
    prefix: "space",
    relativeTo: "viewport-width",
  });
}
