---
import './_reset.css';
import './_global.css';

import Head from '@components/Head/Head.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Title', description = 'Description' } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="robots"
      content="noindex"
    />
    <meta
      name="description"
      content="Astro description"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <Head meta={{ title, description }} />
  </head>
  <body>
    <slot />
  </body>
</html>
