---
import Helmet from 'astro-helmet';
import { generateHeadItems } from './_headConfig';

import './_reset.css';
import './_global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title: title = 'Title', description = 'Description' } = Astro.props;

const isProd = import.meta.env.PROD;
const headItems = generateHeadItems({ title, description, isProd });
---

<!doctype html>
<html lang="ru">
  <Helmet {headItems} />
  <body>
    <slot />
  </body>
</html>
