---
import './_reset.css';
import './_global.css';

import Favicon from '@components/Meta/Favicon.astro';
import Meta from '@components/Meta/Meta.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title: title = 'Title', description = 'Description' } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="robots"
      content="noindex"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <Favicon />
    <Meta
      meta={{ title, description }}
      short
    />
    <link
      type="text/plain"
      rel="author"
      href="humans.txt"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
