---
import { Head } from 'astro-capo';
import Meta from '@components/Meta/Meta.astro';

import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Title', description = 'Description' } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <Head>
    <Meta meta={{ title, description }} />
  </Head>
  <body>
    <slot />
  </body>
</html>
